body{
  background-image:linear-gradient(#8DA1B9, #CBB3BF);
  background-attachment:fixed;
  color: grey;
  font-size: 10px;
  font-family: Arial;
}
h2 {
  font-family: Arial;
  color: #253237;
  font-weight: bold;
  font-size: 12px;
}
.bouton-linkedin {
  font-size: 50px;
  color: #272635;
}
.bouton-linkedin:hover {
  text-decoration: none;
  color: #E8E9F3;
}
#banner{
  margin-top: 80px;
  text-align: center;
  background-size: cover;
  background-position: center;
  color: white;
}

#banner p {
  margin-bottom: 100px;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}
#banner a {
  margin-bottom: 40px;
  opacity: 0,8;
}
#banner img {
  position: absolute;
  z-index: 4;
  top: 30%; left: 40%;
  height: 220px;
  border : 50px;
  border-color: white;
}
.absolute {
  position: relative;
  z-index: 2;
  height: 120px;
  background-color: white;
  margin-left: 15px;
  margin-right: 15px;
  border-radius : 10px 10px 0px 0px;
}
#footer{
  padding: 30px;
  background-color: black;
  color: lightgrey;
}
#footer a {
  color: lightgrey;
  font-size: 32px;
}
#footer a:hover {
  color: white;
}
.conteneur {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  margin: 10px 40px;
}
.carousel-inner h3 {
  margin: 10px 0 0 0;
  color: #272635;
}
.carousel-inner h4 {
  margin: 10px 0 0 0;
  color: grey;
  font-size: 15px;
}
.carousel-inner h5 {
  margin: 10px 0 0 0;
  color: darkgrey;
  font-size: 25px;
  margin-bottom: 10px;
}
.bulletpoints {
  color : darkgrey;
  font-size: 15px;
  text-align: left;
  padding : 5px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.bd-example {
  position: ;
  background-color: white;
  margin: 0 15px 15px 15px;
  padding: 15px 20px;
  border-radius: 0 0 10px 10px;
}
.carousel-indicators {
  color: #272635;
}
.carousel-control-next button {
  color: #272635;
}
.carousel-inner {
  interval: 5000;
  height:  300px;
  max-height: 400px;
}
.carousel-item  {
  color: darkgrey;
  text-align: center;
}

.date-formation {
  text-align: center;
  font-weight: bolder;
}
.card-body {
  color: darkgrey;
  text-align: justify;
  font-size: 15px;
  background-color: white;
  border-radius: 10px;
}
.accordion {
  margin: 15px;
  border-radius : 15px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.skills {
  display: flex;
  margin-bottom: 20px;
  height: 120px;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
}
.skill {
  background-color: white;
  border-radius: 5px;
  height: 100px;
  width: 230px;
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}
.skills img {
  width:80px;
  height: 80px;
}
.skill h3 {
  font-size: 20px;
  color : white;
}
.skill h4 {
  font-size: 12px
}
.contact {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-around;
}
.contact1 {
  background-color: rgba(255,255,255,0.5);
  padding: 10px;
  margin-left: 15px;
  width: 50%;  
  border-radius: 10px 0px 0px 10px;
}
.contact1 h3 {
  font-size: 30px;
  color: #272635;
  margin-bottom: 30px;
  margin-top: 10px;
  text-align: center;
}
.contact1 h4 {
  font-size: 25px;
  color: #272635;
  margin-bottom: 20px;
  margin-left: 20px;
}
.contact1 h5 {
  font-size: 20px;
  color: grey;
  margin-left: 20px;  
}
.contact2 {
  background-color: rgba(255,255,255,0.5);
  padding: 10px;
  margin-right : 15px;
  width: 50%;
  border-radius: 0px 10px 10px 0px;
}


@media screen and (max-width: 767px) {
.skill h3 {
  display: none;
}
.skill h4 {
  display: none;
}
.skills {
  margin-left: 5px;
  margin-right: 5px; 
  margin-bottom: 1px;
}
.skill {
  width: 70px;
  height: 70px;
}
.skills img {
  width:50px;
  height: 50px; 
}
.conteneur {
  display: flex;
  flex-wrap: wrap;
}
.carousel-inner {
  height: 600px;
}
.carousel-inner h3 {
  font-size: 15px;
}
.carousel-inner h4 {
  font-size: 10px;
}
.carousel-inner h5 {
  font-size: 15px;
}
.bulletpoints {
  font-size: 14px;
}
.bouton-linkedin {
  font-size: 25px;
}
#banner p {
  font-size: 20px;
}
#banner img {
  height :120px;
}
.absolute {
  height: 80px;
}
.contact {
  display: flex;
  flex-wrap: wrap;
}
.contact1 {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  margin-right: 15px;
}
.contact1 h3 {
  font-size: 20px;
  margin-bottom: 5px;
 } 
 .contact1 h4 {
  font-size: 17px;
  margin-bottom: 5px;
 } 
 .contact1 h5 {
  font-size: 15px
 } 
.contact2 {
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  margin-left: 15px;
}